/* Container principal do slideshow */
.slideshow-container {
    width: 100%;
    height: auto; /* Altura do container ajustada para 350px */
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  /* Faixa das imagens que desliza */
  .slideshow-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
 
.slide {
  flex: 0 0 auto; /* Ajusta largura dinamicamente */
  text-align: center;
}
  
  .slide img {
    width: auto; /* Largura da imagem ajustada para 250px */
    height: auto; /* Altura da imagem ajustada para 250px */
    padding: 0 30px; /* Adicionado um padding de 30px nas laterais */
    object-fit: contain; /* Manter a proporção da imagem */
    border-radius: 12px; /* Opcional: bordas arredondadas */
  }

  .slide.reduced-width {
    flex: 0 0 124px; /* Redução da largura da primeira imagem para 40% */
  }

  /* Estilos para telas menores (exemplo: telas com largura de até 768px) */
@media (max-width: 768px) {
  .slide img {
    width: 80%; /* Ajusta a largura das imagens para 80% da largura do slide */
    height: auto; /* Mantém a altura proporcional */
    padding: 0 0px; /* Ajusta o padding para 15px nas laterais */
  }

  .slide {
    margin-right: 0px; /* Espaço entre as imagens */
  }
}

/* Estilos para telas ainda menores (exemplo: telas com largura de até 480px) */
@media (max-width: 480px) {
  .slide img {
    width: 70%; /* Ajusta a largura das imagens para 70% da largura do slide */
    height: auto; /* Mantém a altura proporcional */
    padding: 0 0px; /* Ajusta o padding para 10px nas laterais */
  }

  .slide {
    margin-right: -50px; /* Espaço entre as imagens */
  }
}

/* Para telas menores que 420px */
@media (max-width: 420px) {
  /* Ajusta o slideshow para exibir uma imagem por vez */
  .slideshow-container {
    justify-content: center; /* Centraliza o conteúdo */
    overflow: hidden; /* Esconde o restante das imagens fora do viewport */
  }

  .slideshow-track {
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }

  .slide {
    flex: 0 0 100%; /* Cada slide ocupa 100% da largura da tela */
    margin: 0; /* Remove o espaço entre as imagens */
  }

  .slide img {
    width: 100%; /* Imagem ajusta para preencher 100% da largura do slide */
    height: auto; /* Mantém proporção */
    padding: 0; /* Remove qualquer padding lateral */
    object-fit: contain; /* Mantém proporção sem cortar */
  }
}
